@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque&family=Inter&family=Open+Sans&family=Poppins:wght@400;700&family=Roboto&display=swap');
.maindata{
    background-color: brown;
}
.salutation{
    text-shadow: 1.3px 1.3px 1.8px black;
    color: white;
    font-size: 160%;
}
.mymarks{
    text-shadow: 1.2px 1.2px 1.2px black;
    font-size: 180%;
}