@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque&family=Inter&family=Open+Sans&family=Poppins:wght@400;700&family=Roboto&display=swap');


.mydiv{
   background-color: #D58DEC; 
}

.quizdiv{

}

.myquestion,.questionnumber{
    font-size: 140%;
    font-family: 'Open Sans', sans-serif;
}

.myoptions{
    font-size: 140%;
    font-family: 'Open Sans', sans-serif;
}